@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  position: absolute;
  text-align: center;
  background-color: rgb(36, 36, 36);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input:autofill{
  background-color:rgb(36, 36, 36);
}
