.details{
    width: 500px;
    border: 1px solid rgb(64, 64, 253);
    margin-top: 6vh;
    margin-bottom: 6vh;

    && img{
        width: 100px;
    }
}

.details thead, tr{
    border-bottom: 1px solid rgb(64, 64, 253);
}

.details button{
    background-color: rgb(64, 64, 253);
    border: 1px solid rgb(64, 64, 253);
    color: white;
    font-weight: 600;
}

.image-form{
    margin-top: 1rem;
    && img{
        margin: auto;
    }
}

.form-group{
    && input{
        width: 100%;
        background-color: transparent;
        border: 1px solid rgb(64, 64, 253);
        border-radius: 10px;
        padding: .7rem .5rem;
    }
}

.form-input{
    border-radius: 1rem;
    width: 100%;
    border: 1px solid rgb(64, 64, 253);
    padding: .7rem .5rem;

    && input:-webkit-autofill{
       
            background-color:rgb(36, 36, 36);
          
          
    }
}

.form-buttons{
    width: 80%;
    border-radius: 5px;
    margin: auto;

    && button{
        padding: .5rem 1.5rem;
        border-radius: 5px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

#save{
    color: white;
    font-weight: 600;
    background: rgb(64, 64, 253);
    border-radius: 10px;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
}

.details-form input, textarea{
   
    && .form-group{
        border: none;
    }
}

.details-form{
    && label{
        font-weight: 600;
        color: rgb(64, 64, 253);
    }
}

.h2{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 64, 253);
    color: white;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
