.openNavLabel {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: red;
    z-index: 1;
    height: 0px;
}

.openNavLabel img {
    width: 40px;
}

#openNav {
    display: none;
}
.chat-background{
    background-color: #0b0c0f;
}

.nav{
    border-right: 3px solid #3a3a3a;
}

#logout{
    border: 1px solid #3a3a3a;
}

.user-nav {
    color: #f0f4fd;
}

.addChannel, .full-title{
    color: #f0f4fd;
}

.titleG{
    background-color: #044fff;
}

.addChannel{
    border-bottom: 2px solid #3a3a3a;
}

.groups{
    color: #f0f4fd;
}

.members{
    border-radius: 100%;
}
