.openNavLabel {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
    height: 0px;
}

.blackout{
    opacity: .6;
    background-color: black;
    z-index: 4;
}

.openNavLabel img {
    width: 40px;
}

#openNav {
    position: fixed;
    top:15px;
    left: 40px;
    display: none;
    cursor: pointer;
    z-index: 3;
}

#openNav:hover{
    cursor: pointer;
}

.chat-background{
    background-color: #0b0c0f;
}

.nav{
    border-right: 3px solid #3a3a3a;
}

#logout{
    border: 1px solid #3a3a3a;
}

.user-nav {
    color: #f0f4fd;
}

.addChannel, .full-title{
    color: #f0f4fd;
}

.titleG{
    background-color: #044fff;
}

.addChannel{
    border-bottom: 2px solid #3a3a3a;
}

.groups{
    color: #f0f4fd;
}

.members{
    border-radius: 100%;
}

.form-channel{
    z-index: 5;
    background-color: #111315;
}

.saveChannel{
    background-color: #044fff;
}

.cancelChannel{
    background-color: #3a3a3a;
}

.channel-title{
    color: #044fff
}

.add{
    background-color: #044fff;
}

@media screen and (max-width:999px) {
    .nav{
        position: fixed;
        left: -480px;
        z-index: 3;
        background-color: #111315;
    }
    #openNav {
        display: block;
        background-color:#111315;
        padding:10px;
    }
    #openNav:hover{
        cursor: pointer;
    }
    .add{
        height: 40px;
        width: 120px;
        font-size: 30px;
        padding: 0 !important;
        margin-right: 0px;
    }
}