.group-title{
    position: relative;
    display: flex;
    color: rgb(184, 184, 184);
    text-align: left;
    border-bottom: 1px solid black;
    align-items: center;
}

.group-title input{
    position: absolute;
    right: 1rem;
    transform: translateX(-1rem);
    padding: .5rem .5rem;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px solid rgb(23, 85, 255);
}


.container-message{
    height: 66vh;
    width: 86%;
    margin: 3rem;
    overflow-y: scroll;
}

.container-message::-webkit-scrollbar{
    width: 3px;
    background-color: transparent;
}

.container-message::-webkit-scrollbar-thumb{
    background-color: rgb(23, 85, 255);
    border-radius: 10px;
}


.message{
    display: flex;
    text-align: left;
}

.message img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
}

.message-info li p{
    color: rgb(123, 158, 253);
    font-weight: 600;
}

.message-info > p{
 color: rgb(184, 184, 184);
 margin-top: -.5rem;
 margin-left: 30px;
}

.message-session{
    display: flex;
    text-align: right;
}

.message-session img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
}

.message-info-session li p{
    color: rgb(55, 117, 36);
    font-weight: 600;
}

.message-info-session > p{
 color: rgb(184, 184, 184);
 margin-top: -.5rem;
 margin-left: 30px;
}


.writeMessage input{
    width: 90%;
    background-color: rgb(36, 36, 36);
    outline-color: rgb(23, 85, 255);
    color: rgb(184, 184, 184);
    border-radius: 10px;
    padding: .7rem 1rem;
}
