*{
    list-style: none;
}


.group-title{
    position: relative;
    margin-top: -3.5rem;
    display: flex;
    color: rgb(184, 184, 184);
    text-align: left;
    border-bottom: 1px solid black;
    align-items: center;
    
}

.group-title form input{
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    transform: translateX(-1rem);
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px solid rgb(23, 85, 255);
}

.container-message{
    height: 76vh;
    width: 86%;
    margin: 2rem;
    overflow-y: scroll;
}

.container-message::-webkit-scrollbar{
    width: 3px;
    background-color: rgb(61, 61, 61);
}

.container-message::-webkit-scrollbar-thumb{
    background-color: rgb(23, 85, 255);
    border-radius: 10px;
}


.message{
    display: flex;
    text-align: left;
}

.message img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
}

.message-info li p{
    color: rgb(123, 158, 253);
    font-weight: 600;
}

.message-info > p{
 color: rgb(184, 184, 184);
 margin-top: -.5rem;
 margin-left: 30px;
}

.message-session{
    display: flex;
    text-align: right;
}

.message-session img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
}

.message-info-session li p{
    color: rgb(55, 117, 36);
    font-weight: 600;
}

.message-info-session > p{
 color: rgb(184, 184, 184);
 margin-top: -.5rem;
 margin-left: 30px;
}


.writeMessage input{
    width: 90%;
    background-color: rgb(36, 36, 36);
    outline-color: rgb(23, 85, 255);
    color: rgb(184, 184, 184);
    border-radius: 10px;
    padding: .7rem 1rem;
}

.membersLayout{
    position: absolute;
    top: 20vh;
    left: 40vw;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
}

.membersLayout > div{
    font-size: 25px;
    color: rgb(189, 189, 189);
    background-color: rgb(36, 36, 36);
}

.membersLayout ul{
    height: 40vh;
    overflow-y: scroll;
    color: rgb(23, 85, 255);
    font-weight: 600;
}

.membersLayout ul::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

.membersLayout ul::-webkit-scrollbar-thumb{
    background-color: rgb(23, 85, 255);
    border-radius: 20px;
}

.membersLayout ul li{
    display: flex;
    padding: .5rem 2rem;
    align-items: center;
    border-bottom: 1px solid rgb(23, 85, 255);
    border: 70px
}

.membersLayout ul li img{
    width: 80px;
    border-radius: 100%;
}

@media screen and (max-width:1097px){

    .writeMessage input{
        margin-top: 3rem;
    }
}

@media screen and (min-width:1098px) and (max-height:570px) {
    .writeMessage input{
        margin-bottom: 7rem;
    }
}

@media screen and (max-width:1098px) and (max-height:400px) {
    .writeMessage input{
        margin-bottom: 7rem;
    }
}

@media screen and (max-width:1097px) and (max-height:500px) {

    .writeMessage input{
        margin-bottom: 5rem;
    }
}



@media screen and (max-width:1097px) {

    

    .container-message{
        height: 70vh;
    }

    .group-title{
        height: 60px;
    }

    .group-title p{
        position: relative;
        left: 5rem;
        bottom: 1.5rem;
        z-index: 0;
    }
}

@media screen and (max-width:600px) {

    .container-message{
        width: 94%;
        margin-left: 1rem;
    }
   
}

@media screen and (max-width:555px) {

   .message-info{
    font-size: 13px;
   }

   .message-info li p{
    margin-left: -1px;
    }
   
}