*{
    list-style: none;
}

.chatBody{
    min-width: 737px;
}

.group-title{
    position: relative;
    display: flex;
    color: rgb(184, 184, 184);
    text-align: left;
    border-bottom: 1px solid black;
    align-items: center;
}

.group-title input{
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    transform: translateX(-1rem);
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px solid rgb(23, 85, 255);
}

.group-title button{
    position: absolute;
    right: 8rem;
    bottom: .6rem;
    transform: translateX(-8rem);
    background-color: rgb(36, 36, 36);
    color:rgb(23, 85, 255);
    border-radius: 5px;
    padding: .7rem;
    font-weight: 600;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.group-title button:hover{
    transform: translate(-8.2rem, -.1rem);
    transition: .2s;
    background-color: rgb(45, 45, 45);
}

.container-message{
    height: 66vh;
    width: 86%;
    margin: 3rem;
    overflow-y: scroll;
}

.container-message::-webkit-scrollbar{
    width: 3px;
    background-color: rgb(61, 61, 61);
}

.container-message::-webkit-scrollbar-thumb{
    background-color: rgb(23, 85, 255);
    border-radius: 10px;
}


.message{
    display: flex;
    text-align: left;
}

.message img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
}

.message-info li p{
    color: rgb(123, 158, 253);
    font-weight: 600;
}

.message-info > p{
 color: rgb(184, 184, 184);
 margin-top: -.5rem;
 margin-left: 30px;
}

.message-session{
    display: flex;
    text-align: right;
}

.message-session img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
}

.message-info-session li p{
    color: rgb(55, 117, 36);
    font-weight: 600;
}

.message-info-session > p{
 color: rgb(184, 184, 184);
 margin-top: -.5rem;
 margin-left: 30px;
}


.writeMessage input{
    width: 90%;
    background-color: rgb(36, 36, 36);
    outline-color: rgb(23, 85, 255);
    color: rgb(184, 184, 184);
    border-radius: 10px;
    padding: .7rem 1rem;
}

.membersLayout{
    position: absolute;
    top: 20vh;
    left: 40vw;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
}

.membersLayout > div{
    font-size: 25px;
    color: rgb(189, 189, 189);
    background-color: rgb(36, 36, 36);
}

.membersLayout ul{
    height: 40vh;
    overflow-y: scroll;
    color: rgb(23, 85, 255);
    font-weight: 600;
}

.membersLayout ul::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

.membersLayout ul::-webkit-scrollbar-thumb{
    background-color: rgb(23, 85, 255);
    border-radius: 20px;
}

.membersLayout ul li{
    display: flex;
    padding: .5rem 2rem;
    align-items: center;
    border-bottom: 1px solid rgb(23, 85, 255);
    border: 70px
}

.membersLayout ul li img{
    width: 80px;
    border-radius: 100%;
}
